{% extends "dashboard/base.html" %}

{% block dashboard_content %}

<div class="container">
    <h1 class="title">Summary</h1>
    <h2 class="subtitle">Stats stuff</h2>

    <div class="box">
        Voting form:
        {% if voting_form_url %}
        <a href="{{ voting_form_url }}" target="_blank">{{ voting_form_url }}</a>
        {% else %}
        <strong class="has-text-danger">No voting form URL set</strong>
        {% endif %}
    </div>

    <div class="box">
        {{ n_voters }} voters
        <br>
        {{ n_voters_responded }} responded
    </div>

    <div class="box">
        <h1 class="is-size-3">Questions</h1>
        <p>Response counts exclude empty responses</p>
        <br>
        <ul>
            {% for question in questions %}
            <li>{{ question.question or question.question_id }}: <b>{{ question.n_responses }}</b> responses</li>
            {% endfor %}
        </ul>
    </div>

    <div class="box">
        Form received: {{ form_received_count }}
        <br>
        Form accepted: {{ form_accepted_count }}
        <br>
        Form rejected: {{ form_rejected_count }}
    </div>
</div>

{% endblock %}
