{% extends "dashboard/base.html" %}

{% block dashboard_content %}

<div class="container">
  <h1 class="title">Voters</h1>
  <h2 class="subtitle">Voters subtitle</h2>

  <div>
    {{ n_voters }} voters
    <br>
    {{ n_voters_responded }} responded
  </div>

  <div class="box">
    <h1 class="is-size-3">Import Voters</h1>
    <form id="importVotersForm" enctype="multipart/form-data">
      <p>
        Import voters from a list of student IDs (format S1234567) or EUSA associate account IDs (format ASSOC123456), with one ID per line. Existing voters will be kept.
      </p>
      <br>
      <div class="control">
        <input class="input" type="file" name="voters" accept=".txt" required>
      </div>
      <br>
      <div class="control">
        <button class="button is-danger">
          <span>Import</span>
          <span class="icon" aria-hidden="true">
            <i class="fas fa-upload"></i>
          </span>
        </button>
      </div>
      <div id="importVotersResult"></div>
    </form>
  </div>

  <div class="box">
    <h1 class="is-size-3">Look Up Voter</h1>
    <form id="voterLookUpForm">
      <div class="field">
        <label class="label">Voter ID</label>
        <div class="control">
          <input class="input" name="voter_id" required>
        </div>
      </div>
      <div class="control">
        <button class="button is-primary">
          <span>Lookup</span>
          <span class="icon" aria-hidden="true">
            <i class="fas fa-search"></i>
          </span>
        </button>
      </div>
      <div id="voterLookUpResult"></div>
    </form>
  </div>

  <div class="box">
    <h1 class="is-size-3">Add Voter</h1>
    <form id="addVoterForm">
      <div class="field">
        <label class="label">Voter ID</label>
        <div class="control">
          <input class="input" name="voter_id" required>
        </div>
      </div>
      <div class="control">
        <button class="button is-warning">
          <span>Add</span>
          <span class="icon" aria-hidden="true">
            <i class="fas fa-plus"></i>
          </span>
        </button>
      </div>
      <div id="addVoterResult"></div>
    </form>
  </div>

  <div class="box">
    <h1 class="is-size-3">Remove Voter</h1>
    <form id="removeVoterForm">
      <p>
        For the voter becomes ineligible. <strong>This will also remove the voter's vote.</strong>
      </p>
      <div class="field">
        <label class="label">Voter ID</label>
        <div class="control">
          <input class="input" type="text" name="voter_id">
        </div>
      </div>
      <div class="control">
        <button class="button is-danger">
          <span>Remove</span>
          <span class="icon" aria-hidden="true">
            <i class="fas fa-trash"></i>
          </span>
        </button>
      </div>
      <div id="removeVoterResult"></div>
    </form>
  </div>

  <div class="box">
    <h1 class="is-size-3">Download Voters</h1>
    <p>
      Download CSV with voter ID hashes and vote submission time. One global salt for the hash will be included too. <strong>Voter ID might be recoverable with hashes and salt.</strong>
    </p>

    <a class="button is-warning" href="{{ url_for('dashboard.download_voters') }}" download>
      <span>Download Voters</span>
      <span class="icon">
        <i class="fas fa-download"></i>
      </span>
    </a>
  </div>
</div>

<script>
  document.getElementById('importVotersForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    const voterLookUpResult = document.getElementById('importVotersResult');
    voterLookUpResult.innerText = '';
    const form = e.target;
    const formData = new FormData(form);
    e.target.reset();
    fetch("{{ url_for('dashboard.voters') }}", {
      method: 'POST',
      headers: {
        'X-CSRFToken': '{{ csrf_token() }}',
      },
      body: formData
    }).then(response => response.json()).then(result => {
      voterLookUpResult.innerText = JSON.stringify(result, null, 2);
    });
  });
  document.getElementById('voterLookUpForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    const form = e.target;
    const response = await fetch("{{ url_for('dashboard.voters') }}", { // using POST so voter emails will not be in server logs
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token() }}',
      },
      body: JSON.stringify({
        action: 'lookup',
        voter_id: form.voter_id.value,
      }),
    });
    const result = await response.json();
    const voterLookUpResult = document.getElementById('voterLookUpResult');
    voterLookUpResult.innerText = JSON.stringify(result, null, 2);
    form.reset();
  });
  document.getElementById('addVoterForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    const form = e.target;
    const response = await fetch("{{ url_for('dashboard.voters') }}", { // using POST so 
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token() }}',
      },
      body: JSON.stringify({
        action: 'add',
        voter_id: form.voter_id.value,
      }),
    });
    const result = await response.json();
    const voterLookUpResult = document.getElementById('addVoterResult');
    voterLookUpResult.innerText = JSON.stringify(result, null, 2);
    form.reset();
  });
  document.getElementById('removeVoterForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    const form = e.target;
    const response = await fetch("{{ url_for('dashboard.voters') }}", { // using POST so 
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token() }}',
      },
      body: JSON.stringify({
        action: 'remove',
        voter_id: form.voter_id.value,
      }),
    });
    const result = await response.json();
    const voterLookUpResult = document.getElementById('removeVoterResult');
    voterLookUpResult.innerText = JSON.stringify(result, null, 2);
    form.reset();
  });
</script>

{% endblock %}