{% extends "dashboard/base.html" %}

{% block dashboard_content %}

<div class="container">
  <h1 class="title">Voters</h1>
  <h2 class="subtitle">Voters subtitle</h2>

  <div>
    {{ n_voters }} voters
    <br>
    {{ n_voters_responded }} responded
  </div>

  <div class="box">
    <h1 class="is-size-3">Import Voters</h1>
    <form id="importVotersForm" enctype="multipart/form-data">
      <p>
        Import voters from a list of email addresses, with one email address per line. Voter IDs will be generated for
        new voters, and they will be sent an email with a link to vote. Existing voters will keep their existing voter
        ID. No voters will be removed.
      </p>
      <br>
      <div class="field">
        <div class="control">
          <input type="checkbox" name="notify_all" id="notifyAllCheckBox">
          <label for="notifyAllCheckBox">Send email to all importing voters</label>
        </div>
        <p class="help">Check the checkbox to send email to all voters in the provided file, otherwise only email new
          voters.</p>
      </div>
      <div class="control">
        <input class="input" type="file" name="voters" accept=".txt" required>
      </div>
      <br>
      <div class="control">
        <button class="button is-danger">
          <span>Import</span>
          <span class="icon" aria-hidden="true">
            <i class="fas fa-upload"></i>
          </span>
        </button>
      </div>
      <div id="importVotersStatus"></div>
      <div id="importVotersResult"></div>
    </form>
  </div>

  <div class="box">
    <h1 class="is-size-3">Look Up Voter</h1>
    <form id="voterLookUpForm">
      <div class="field">
        <label class="label">Voter Email</label>
        <div class="control">
          <input class="input" type="email" name="voter_email" required>
        </div>
      </div>
      <div class="control">
        <button class="button is-primary">
          <span>Lookup</span>
          <span class="icon" aria-hidden="true">
            <i class="fas fa-search"></i>
          </span>
        </button>
      </div>
      <div id="voterLookUpResult"></div>
    </form>
  </div>

  <div class="box">
    <h1 class="is-size-3">Add Voter</h1>
    <form id="addVoterForm">
      <p>
        This will add a voter with a new voter ID. If the voter already exists, the voter will keep their existing voter
        ID. Either way, the voter will be sent an email with a link to vote.
      </p>
      <div class="field">
        <label class="label">Voter Email</label>
        <div class="control">
          <input class="input" type="email" name="voter_email" required>
        </div>
      </div>
      <div class="control">
        <button class="button is-warning">
          <span>Add</span>
          <span class="icon" aria-hidden="true">
            <i class="fas fa-plus"></i>
          </span>
        </button>
      </div>
      <div id="addVoterResult"></div>
    </form>
  </div>

  <div class="box">
    <h1 class="is-size-3">Remove Voter</h1>
    <form id="removeVoterForm">
      <p>
        For the voter becomes ineligible. <strong>This will also remove the voter's vote.</strong>
      </p>
      <div class="field">
        <label class="label">Voter Email</label>
        <div class="control">
          <input class="input" type="text" name="voter_email">
        </div>
      </div>
      <div>Or</div>
      <div class="field">
        <label class="label">Voter ID</label>
        <div class="control">
          <input class="input" type="text" name="voter_id">
        </div>
      </div>
      <div class="control">
        <button class="button is-danger">
          <span>Remove</span>
          <span class="icon" aria-hidden="true">
            <i class="fas fa-trash"></i>
          </span>
        </button>
      </div>
      <div id="removeVoterResult"></div>
    </form>
  </div>

  <div class="box">
    <h1 class="is-size-3">Download Voters</h1>
    <p>
      Download CSV with voter IDs and vote submission time. If choose to download with email hashes, one global salt for
      the hash will be included too. <strong>Emails might be recoverable with hashes and salt, especially with organisation emails with fixed format.</strong>
    </p>

    <a class="button is-warning" href="{{ url_for('dashboard.download_voters') }}" download>
      <span>Download Voters</span>
      <span class="icon">
        <i class="fas fa-download"></i>
      </span>
    </a>

    <a class="button is-warning" href="{{ url_for('dashboard.download_voters') }}?include_email_hash=true" download>
      <span>Download With Email Hashes</span>
      <span class="icon">
        <i class="fas fa-download"></i>
      </span>
    </a>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
  integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
  crossorigin="anonymous"></script>
<script>
  let socket = io();
  const voterLookUpStatus = document.getElementById('importVotersStatus');
  socket.on('import_voters_status', (data) => {
    voterLookUpStatus.innerText = data;
  });
  document.getElementById('importVotersForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    const voterLookUpResult = document.getElementById('importVotersResult');
    voterLookUpResult.innerText = '';
    voterLookUpStatus.innerText = '';
    const form = e.target;
    const formData = new FormData(form);
    if (socket.id) {
      formData.append('socket_id', socket.id);
    }
    e.target.reset();
    fetch("{{ url_for('dashboard.voters') }}", {
      method: 'POST',
      headers: {
        'X-CSRFToken': '{{ csrf_token() }}',
      },
      body: formData
    }).then(response => response.json()).then(result => {
      voterLookUpResult.innerText = JSON.stringify(result, null, 2);
    });
  });
  document.getElementById('voterLookUpForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    const form = e.target;
    const response = await fetch("{{ url_for('dashboard.voters') }}", { // using POST so voter emails will not be in server logs
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token() }}',
      },
      body: JSON.stringify({
        action: 'lookup',
        voter_email: form.voter_email.value,
      }),
    });
    const result = await response.json();
    const voterLookUpResult = document.getElementById('voterLookUpResult');
    voterLookUpResult.innerText = JSON.stringify(result, null, 2);
    form.reset();
  });
  document.getElementById('addVoterForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    const form = e.target;
    const response = await fetch("{{ url_for('dashboard.voters') }}", { // using POST so 
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token() }}',
      },
      body: JSON.stringify({
        action: 'add',
        voter_email: form.voter_email.value,
      }),
    });
    const result = await response.json();
    const voterLookUpResult = document.getElementById('addVoterResult');
    voterLookUpResult.innerText = JSON.stringify(result, null, 2);
    form.reset();
  });
  document.getElementById('removeVoterForm').addEventListener('submit', async (e) => {
    e.preventDefault();
    const form = e.target;
    const response = await fetch("{{ url_for('dashboard.voters') }}", { // using POST so 
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token() }}',
      },
      body: JSON.stringify({
        action: 'remove',
        voter_email: form.voter_email.value,
        voter_id: form.voter_id.value,
      }),
    });
    const result = await response.json();
    const voterLookUpResult = document.getElementById('removeVoterResult');
    voterLookUpResult.innerText = JSON.stringify(result, null, 2);
    form.reset();
  });
</script>

{% endblock %}